{% extends 'base.html' %}


{% block 'content' %}
<h1>Home</h1>
<P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur asperiores voluptates maiores blanditiis tenetur id voluptate libero sapiente debitis officiis, aperiam pariatur perferendis architecto aliquam earum doloribus cum obcaecati eius fugiat labore omnis nostrum animi aut saepe. Magnam optio ipsa voluptatibus et at repudiandae ab veniam ex amet provident excepturi iure debitis neque possimus dolor hic, dolores sapiente pariatur consequatur doloribus sint? Blanditiis veritatis voluptatem magni. Animi recusandae itaque iste perferendis, nesciunt exercitationem, vitae ipsam, eius dolore a corrupti quasi non labore commodi facilis aliquid quia. Minus officia vitae quam praesentium, velit nobis corporis nulla incidunt qui culpa quidem provident!</P>
{% endblock 'content' %}